body {
	font-family: 'Arial';
}

.container {
	background: #eee;
	text-align: center;
	width: 700px;
	padding: 30px;
	margin: 0 auto;
}

h5 {
	font-size: 0.5em;
}

img {
	height: 200px;
	width: 200px;
	object-fit: cover;
}

.image-container {
	display: inline-block;
	margin: 10px;
	border: 5px solid white;
}

.button { 
      background: #517fa4; 
      color: white; 
      margin: 20px auto; 
      padding: 10px 15px; 
      width: 200px; 
}